.meanContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sections {
    display: flex;
    justify-content: space-around;

}

.header {
    width: 100vw;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}