.order-page 
{
    display: flex;
    flex-direction: row;
  background-image: url("E:\downloads\CodingStuff\PizzaPizzaProject\pizzaPizza\client\src\assets\WebBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.order-title
{
  
    font-size: 5rem;
    background:  #e6cf90;
    padding: 2rem;
    min-width: 50px;
    height: 140px;
    font-weight: bold;
    position: relative;
    top: 10px;
       
}

.order-btn
{

    background: #ffe8ab;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
    color: black;
}

.order-input-card
{
    padding-left: 20px;
    background:#fdf1d0;
    height: 550px;
    min-width: 500px;
    border-radius: 12px;
    text-align: center;


    position: relative;
    right: 450px;
    top: 450px;
}

.order-inputs 
{
    position: relative;
    text-align: left;
    bottom: 60px;
}

.deilveryOrPickup-btn
{
    background: #ffe8ab;
    color: rgb(0, 0, 0);
    border-radius: 4cap;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;


    position:relative;
    top: -90px;
    
}

.checkout-btn
{
    background: #ffe8ab;
    color: rgb(0, 0, 0);
    border-radius: 4cap;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;


    position: absolute;
    bottom: 20px;
    right: 20px;
   
}

.order-list
{
    background:#fdf1d0;
    min-height: 700px;
    min-width: 500px;
   


    position: relative;
    top: 200px;
    left: -50px;

}

/* Old syle liked it but I dont think It will work with other pages.


/* .order-page 
{
    color: black;
    min-height: 1080px; 
    min-width: 1920px;
   justify-content: horizontal; 
    display: flex; 
    align-items: center; 
    background: #b36806 
   
    
} */

/* .order-title
{
  
    font-size: 5rem;
    background:  #e6cf90;
    padding: 2rem;
    width: 30rem;

    position: relative;
    bottom: 400px;
       
} */

/* .order-btn
{
    padding: 0.8rem;
    background: #ffe8ab;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
    color: black;
}

.order-input-card
{
    
    background:#fdf1d0;
    padding: 2rem;
    height: 500px;
    width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: left;


    position: relative;
    right: 450px;
    top: 230px;
}

.order-inputs
{
    position: relative;
    bottom: 60px;
}

.deilveryOrPickup-btn
{
    padding: 15px;
    background: #ffe8ab;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4cap;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;


    position: relative;
    top: -140px;
}

.checkout-btn
{
    padding: 15px;
    background: #ffe8ab;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4cap;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;


    position: absolute;
    bottom: 20px;
    right: 20px;
   
}

.order-list
{
    background:#fdf1d0;
    padding: 2rem;
    height: 775px;
    width: 700px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    position: relative;
    top: 200;
    left: -50px;

} */



