.orderPage {
    min-height: 100vh; /*full height*/
    display: flex; /*flexbot layout*/
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    background: #b36806 /*orange*/
}
